body {
    font-family: sans-serif;
}

header {
    background-color: lavender;
}

header p{
    text-align: center;
}

header a{
    color: blue;
}

header a:visited{
    color:grey;
}

header a:focus{
    color:red;
    background-color: #5757a0;
}

nav{
    text-align: center;
  
  color: #5757a0;
  padding: 10px 20px;
  background-color: lavender;
  border-bottom: 5px solid #5757a0;
}

nav a{
text-decoration: none;
font-family: sans-serif;
border-radius: 15px;
border: 2px solid #5757a0;
padding: 5px;
}

nav a:hover{
color: red;
}

nav a:focus{
    color: black;
}

h1 {
    color: red;
    text-align: center
}

footer {
    background-color: #5757a0;
}

footer p {
    color: rgb(210, 247, 3);
}

h2 {
   color: red;
   text-align: center;
}

table {
    border-collapse: collapse;
    border: 1px solid red;
}

table tr{
    border: 1px solid red;
    text-align: center;

}

table td{
border: 1px solid red;
text-align: center;
}

.Arena1{
    display: flex;
    justify-content: center;
    justify-content: space-between;

}

main img{
    opacity: 0.5;
}

main img:hover{
    opacity: 1;
}

.ATB{
    opacity: 1;
}

tr:first-child{
    background-color: #5757a0;
    border: 3px solid red;
}

td:first-child{
    background-color: #5757a0;
    border: 3px solid red;
}
